
.logg-inn {
    text-align: center;
    min-height: 100vh;
    background-color: #283430;
  }


.logg-inn-header {
    background-color: #282c34;
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;

}

#sign-up {
    margin-right: 2rem;
}
  
#hjem {
    height: 5em;
    width: 10em;
    margin-left: 2rem;
}

input {
    margin: 1rem;
}

.logg-inn-body {
    background-color: #bccbdb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #222429;
    min-height: 35rem;
  
}