.App {
  text-align: center;
  min-height: 100vh;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

#sign-up {
  margin-right: 2rem;
}

#hjem {
  height: 5em;
  width: 10em;
  margin-left: 2rem;
}

.App-body {
  background-color: #cdd7e2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.les-mer {
  margin: 1rem;
  background-color: rgb(243, 165, 165);

}

.kurs {
  margin: 4rem;
  background-color: #b3bac8;
  display: flex;
  flex-direction: row;
  height: 15rem;
  width: 50rem;
  justify-content: center;
  align-items: center;
  border: solid #282c34;
}

.bilde {
  height: 8rem;
  display: flex;
  justify-content: center;
  border: solid rgb(208, 206, 206) 2px;

}

.App p {
  margin: 1rem;
}

.fag {
  margin-right: 2em;
}

.til-høyre {
  margin-right: 2em;
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
